@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model PDMSCore.DataManipulation.DataGridField2


<table class="GridTable" id=@Model.ID>
    <thead>@Model.HtmlTextHeaderRow()</thead>
    <tbody id="DataGridContent"></tbody>
</table>

<input type="button" id="RefreshGrid" onclick="ReloadDataGrid('gridID-input','Hovno')" />


<script>

    $(document).ready(function () {
        ReloadDataGrid("gridID", "any");
        document.getElementById("@Model.FocusControlID").focus();
        ResizeColumns();
    });

    function ResizeColumns() { 

    };

    $(window).resize(function () {

        var $table = $('table.GridTable');
        var $bodyCells = $table.find('tbody tr:first').children();
        var colWidth;

        // Get the tbody columns width array
        colWidth = $bodyCells.map(function () {
            console.log("map");
            return $(this).width();
        }).get();

        // Set the width of thead columns
        $table.find('thead tr').children().each(function (i, v) {
            console.log("each");
            $(v).width(colWidth[i]);
        });
    }).resize(); // Trigger resize handler

    //Nemuzu pouzit toto:  "$(".GridTable td").click(function () {"  na dynamicky generovany obsah.
    $(document).on("click", '.GridTable td', function (event) {
        $(this).parent().addClass('SingleSelected').siblings().removeClass('SingleSelected');
        var value = $(this).find('td:first').html();
        $('#ModalOk').removeAttr("disabled");
        console.log("click: .GridTable td");
        //GetSelectedRowID($(this).closest('table').attr('id'));

        //var FilterValues = GetHeaderRowValues($(this).closest('table'));
        //ReloadDataGrid("dataGridID-TODO", "bla");
    });

    // Toto se Ajaxem neobnovuje a proto to muze zustat 
    $(".GridTable th").click(function () {
        $(this).parent().parent().parent().find("tr").removeClass('SingleSelected');
        $('#ModalOk').attr("disabled", "");
        //console.log($(this));
    });

    $(document).on("dblclick", '.GridTable tr', function (event) {
        //console.log("dblclick");
        $(this).addClass('SingleSelected').siblings().removeClass('SingleSelected');
        var RowID = $(this).find('td:first').html();
        OkButtonClicked(RowID);
    });

    function GetHeaderRowValuesFromID(TableID) {
        //console.log("TableID = " + TableID);

        var table = $("#" + TableID);
        var HeaderRow = $(table).find("tr");
        console.log("GetHeaderRowValuesFromID");

        //var filtres = $(HeaderRow).find("[id^=filter]");
        var filtres = $(HeaderRow).find(".filter");
        //console.log(filtres);

        var al = [];
        for (var i = 0; i < filtres.length; i++) {
            //al.push(filtres[i].value);
            al[i] = filtres[i].value;

        }
        //for (var i = 0; i < al.length; i++) {
        //    console.log(al[i]);
        //}
        return al;
    };

    function ReloadDataGrid(DataGridID, returnFieldID) {
        //var FilterValues = GetHeaderRowValues($(this).closest('table'));
        var filterValues = GetHeaderRowValuesFromID(@Model.ID);

        $.ajax({
            type: "GET",
            //dataType: "json",  // Nesmi tu byt
            url: "/DataGrid/GetDataGridContent/",
            traditional: true,
            data: {
                DataGridID: @Model.ID,
                FilterValues: filterValues,
            },
            
            contentType: "application/json; charset=utf-8",

            success: function (partialViewResult) {
                console.log("ReloadDataGrid: success");
                if (partialViewResult.length > 0)
                    //$("#DataGridContent").html(partialViewResult);
                    $("#DataGridContent").replaceWith(partialViewResult);
            },
            error: function (result) {
                console.log("ReloadDataGrid: error");
                $("#" + @Model.ID).replaceWith("<span>DataGridPartialView: Ajax failed...</span>");
            }
        });
    };


    //$(document).keyup(function (e) {
    //    if (e.keyCode == 13) {
    //        ReloadDataGrid('gridID-input', 'Hovno')
    //    }
    //});

    function OnDataGridFilterChange(FilterID) {
        console.log("OnDataGridFilterChange");
        var value = $("#" + FilterID).val();
        ReloadDataGrid('gridID-input', 'Hovno')

        //if (value.length > 2) { 
        //    console.log(">2");
        //    ReloadDataGrid('gridID-input', 'Hovno')
        //}

        
    };
    
</script>