@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model PDMSCore.DataManipulation.ModalDialog


<div class="ModalBody">
    <div class="ModalTitle">
        @Model.Title
    </div>
    <div class="ModalDescription">
        @Model.Description
    </div>
    <hr />
    <div class="ModalContent">
        @for (int i = 0; i < @Model.Fields.Count; i++)
        {
            @Model.Fields[i].HtmlText();
        }
    </div>
    <p />
    <div class="ModalBottom">
        <input type="button" id="ModalCancel" class="CancelBtn" value=@Model.CancelButtonLabel />
        <input type="button" id="ModalOk" class="OkBtn" disabled value=@Model.OkButtonLabel />
    </div>
</div>


<script>
    $('.CancelBtn').click(function () {
        CloseModal();
    });

    $(document).keyup(function (e) {
        if (e.keyCode == 27) { 
            CloseModal();
        }
    });

    $(".GridTable tr").click(function () {
        $(this).addClass('SingleSelected').siblings().removeClass('SingleSelected');
        var value = $(this).find('td:first').html();

        $('#ModalOk').removeAttr("disabled");

        console.log(value);
    });

    $('.OkBtn').click(function () {
        OkButtonClicked(null);
    });

    $(".GridTable tr").dblclick(function () {
        $(this).addClass('SingleSelected').siblings().removeClass('SingleSelected');
        var RowID = $(this).find('td:first').html();
        OkButtonClicked(RowID);
    });

    function OkButtonClicked(RowID) {
        var ReturnVariable = document.getElementById("@Model.ReturnFieldID");
        if (RowID != null)
            ReturnVariable.innerHTML = RowID;
        else
            ReturnVariable.innerHTML = $('.SingleSelected').children("td")[0].innerHTML;

        CloseModal();
    }

    function CloseModal() {
        var modals = document.getElementsByClassName("Modal");
        for (i = 0; i < modals.length; i++) {
            modals[i].style.display = "none";
        }
    }

    //$(function () {
    //    $(".GridTable").colResizable({
    //        liveDrag: true,
    //        postbackSafe: true,
    //        partialRefresh: true,
    //        resizeMode: 'fit'
    //    });
    //});

</script>