
@{
    ViewData["Title"] = "PageBody";
}


@model PDMSCore.BusinessObjects.Page

<div>Ahojky Martine</div>
<div class="Content">
    <form id="myForm" method="post">
        @for (int i = 0; i < Model.Panels.PanelList.Count; i++)
        {
            //To nize mozna neni nutne. Toto take funguje:      @Html.Partial("PartialPanel", @Model.PanelList[i])
            //@await Html.PartialAsync("PartialPanel", @Model.PanelList[i])

            @await Html.PartialAsync("PartialPanel", @Model.Panels.PanelList[i], new ViewDataDictionary(this.ViewData))
        }
    </form>

    <script>
        function myFunction() {
            document.getElementById("myForm").submit();
        }
    </script>

</div>


@section UserSection
{
}

@section PageMenuSection
{
    @Model.PageMenu.BuildHtmlMenuButtons()
}