@model PDMSCore.DataManipulation.ModalDialog

<div class="ModalBody" id="@Model.ID-Body">
    <div class="ModalTitle">
        @Model.Title
    </div>
    <div class="ModalDescription">
        @Model.Description
    </div>
    <hr />
    <form id="@Model.ID-Body-Form">
        <div class="ModalContent" id="@Model.ID-Body-Form-C">


            @Model.BuildDialogContent()
            @*@for (int f = 0; f < Model.Fields.Count; f++)
            {
                ((PDMSCore.DataManipulation.IHtmlElement)((PDMSCore.DataManipulation.Field)Model.Fields[f])).BuildHtmlTag();
            }*@


        </div>
    </form>
    <p />
    <div class="ModalBottom">
        <input type="button" id="@Model.ID-Cancel" class="CancelBtn" value=@Model.CancelButtonLabel />
        <input type="button" id="@Model.ID-Ok" class="OkBtn" value=@Model.OkButtonLabel />
    </div>
</div>


<script>

    $(document).keyup(function (e) {
        if (e.keyCode == 27) {
            CloseModal();
        }
    });
    $('.CancelBtn').click(function () {
        CloseModal();
    });

    //$('.OkBtn').click(function () {
    //    console.log(".OkBtn");
    //    OkButtonClicked(null);
    //});

    $("#@Model.ID-Ok").click(function () {
        console.log(".OkBtn");

        var TargetURL = "/" + "@Model.ParentControllerAndAction" + "/";

        var frmValues = $("#@Model.ID-Body-Form").serialize();

        $.ajax({
            url: TargetURL,
            type: "GET",
            data: { ID: "@Model.ID", What: "TryToAdd", Data: frmValues},
            success: function (partialViewResult) {
                if (partialViewResult == "ok") {
                    document.getElementById("@Model.ID").style.display = "none";
                    @Model.OnOk;
                }
                else { 
                    alert(partialViewResult);

                    //$("#" + dialogTagID).html("<div class=\"ModalBody\">\r\n<span class=\"CloseModal\">&times;</span>\r\n<p>SQL failed</p>\r\n</div>");
                    console.log("SQL-error");
                }
            },
            error: function (result) {
                //$("#" + dialogTagID).html("<div class=\"ModalBody\">\r\n<span class=\"CloseModal\">&times;</span>\r\n<p>Ajax failed...</p>\r\n</div>");
                alert(result);
                console.log("AddRowModal-ok-error");
            }
        });

        //document.getElementById("@Model.ID-AddRowModal").style.display = "block";
    });

    function OkButtonClicked(RowID) {
        //TODO: Toto se vola nekolikrat pri dvojkliku. Musim se na to nekdy podivat a zajistit, ze se to spousti pouze jednou.
        var ReturnFieldID = document.getElementById("@Model.TagIDOfReturnedID");
        if ("@Model.ModalDialogID" != "") {
            var selectedRow = $("#@Model.ModalDialogID").find('.SingleSelected');
            if (selectedRow.length > 0) {
                var SelectedItemID = selectedRow.children("td")[0].innerHTML;
                if ("@Model.TagIDOfReturnedID" != "")
                    ReturnFieldID.value = SelectedItemID;
                UpdateFieldOnReturnFromModal('@Model.TagIDOfReturnedLabel', SelectedItemID)
            }
        }
        CloseModal();
    };

    function CloseModal() {
        var modals = document.getElementsByClassName("Modal");
        for (i = 0; i < modals.length; i++) {
            modals[i].style.display = "none";
        }
    };

    // Kdyz se v Modal/DataGridu zvoli hodnota(ID) tak zde se ji najde string ktery pak muzeme ukazat na panelu, ktery ten modal zavolal.
    function UpdateFieldOnReturnFromModal(targetFieldID, fieldIDToLookUp) {
        if (targetFieldID == null || targetFieldID == "" || fieldIDToLookUp == null || fieldIDToLookUp == "")
            return;
        console.log("UpdateFieldOnReturnFromModal");
        $.ajax({
            url: "/Panel/ReturnFromModalFieldUpdate/",
            type: "GET",
            data: { FieldIDToLookUp: fieldIDToLookUp },
            success: function (partialViewResult) {
                $('#ajax_loader').hide();
                if (partialViewResult.length > 0) {
                    console.log("Navraceno:" + partialViewResult);
                    $('#' + targetFieldID)[0].value = partialViewResult;
                }
            },
            error: function (result) {
                alert("error!" + result);
            }
        });
    };

</script>